@namespace RmSolution.Web
@inject RmHttpClient client

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@RmHttpClient.Title @RmHttpClient.Version</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @if (_objects != null)
            foreach (var obj in _objects)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href=@("catalog/" + obj.Source)>
                        <span class="oi oi-list-rich" aria-hidden="true"></span>@obj.Name
                    </NavLink>
                </div>
            }
    </nav>
</div>

@code {
    bool collapseNavMenu = true;
    string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    TObjectDto[]? _objects;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        _objects = await client.GetObjectsAsync();
    }
}
